@charset "UTF-8";
/* normalize */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
:root {
  /* colors */
  --primary-dark: #337786;
  --primary: #00cccc;
  --primary-light: #b8f9f9;
  --primary-gradient: linear-gradient(180deg, var(--primary-dark) 0%, var(--primary) 100%);
  --primary-gradient-dark: linear-gradient(180deg, var(--primary) 0%, var(--primary-dark) 50%, var(--neutral-dark-blue) 100%);
  --primary-gradient-dark-invert: linear-gradient(0deg, var(--primary) 0%, var(--primary-dark) 50%, var(--neutral-dark-blue) 100%);
  --secondary-dark: #d46e28;
  --secondary: #f4aa77;
  --secondary-light: #ffddae;
  --secondary-gradient: linear-gradient( to bottom, var(--secondary-dark), var(--secondary) );
  --secondary-gradient-light: linear-gradient( to bottom, var(--secondary-dark), var(--secondary-light) );
  --neutral-white: #ffffff;
  --neutral-white-opacity-25: rgba(255, 255, 255, 0.25);
  --neutral-white-opacity-50: rgba(255, 255, 255, 0.5);
  --neutral-white-opacity-75: rgba(255, 255, 255, 0.75);
  --neutral-black: #000000;
  --neutral-dark: #052127;
  --neutral-dark-opacity-10: rgba(5, 33, 39, 0.1);
  --neutral-dark-blue: #023A46;
  --neutral-grey: #EEF7F7;
  --neutral-grey-light: #F6FCFC;
  /* sizes */
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-64: 4rem;
  --size-96: 6rem;
  /* font */
  --font-family: "Quattrocento Sans", sans-serif;
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  /* radius */
  --radius-xxs: var(--size-2);
  --radius-xs: var(--size-4);
  --radius-s: var(--size-8);
  --radius-m: var(--size-16);
  --radius-l: var(--size-24);
  --radius-circle: 50%;
  --radius-button: 100px;
  /* box-shadows */
  --button-shadow: 0px var(--size-4) var(--size-4) 0px var(--neutral-dark-opacity-10);
  /* transitions */
  --transition-fast: 0.15s ease-in-out;
  --transition-middle: 0.3s ease-in-out;
  --transition-slow: 0.5s ease-in-out;
}

/* mixins */
/* responsive */
/* from… */
/* to… */
/* from… to… */
/* at… */
/* fonts */
/* titles */
/* texts */
/* buttons & links */
/* classes utilities */
/* titles */
.title-h1 {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-40);
}

.title-h1-bold {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-40);
}

.title-h2 {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
}

.title-h2-bold {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
}

.title-h3 {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-24);
}

.title-h3-bold {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-24);
}

/* texts */
.paragraphe {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-16);
}

/* ----------------------------------------------
 * Generated by Animista on 2026-6-24 8:56:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
/* header */
.header {
  background: var(--primary-gradient-dark);
  padding: calc(var(--size-64) + var(--size-64)) var(--size-64) var(--size-64) var(--size-64);
}
.header__slider-container {
  position: relative;
  display: flex;
}
.header__slider-container--left {
  position: relative;
  display: grid;
  gap: var(--size-40);
  background: var(--neutral-dark-blue);
  width: 75%;
  padding: var(--size-40);
  border-radius: var(--size-40) 0 0 var(--size-40);
  border-right: 2px solid var(--primary);
  background-image: url(img/star.svg);
  background-position: left 20px bottom 20px;
  background-repeat: no-repeat;
  background-size: 200px;
}
.header__slider-container--title {
  position: relative;
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-96);
  text-align: center;
  color: var(--neutral-white);
}
.header__slider-container--title:before {
  content: "";
  height: var(--size-16);
  width: 100%;
  display: block;
  position: absolute;
  bottom: 18px;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 490px;
  margin: auto;
  background: var(--primary-gradient-dark);
}
.header__slider-container--title span {
  position: relative;
  z-index: 2;
}
.header__slider-container--subtitle {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-64);
  color: var(--primary-light);
}
.header__slider-container--subtitle:nth-child(odd) {
  text-align: center;
}
.header__slider-container--quote-title span {
  display: block;
  color: var(--neutral-white);
  text-align: right;
}
.header__slider-container--quote-title span:nth-child(odd) {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
}
.header__slider-container--quote-title span:nth-child(even) {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
}
.header__slider-container--button-slide-bottom {
  position: absolute;
  right: -20px;
  bottom: -20px;
  animation: slide-bottom var(--transition-slow) infinite alternate both;
}
.header__slider-container--right {
  width: 25%;
}
.header__anchor-container {
  position: relative;
  display: grid;
  justify-items: center;
  gap: var(--size-40);
  background: var(--neutral-dark-blue);
  width: 100%;
  padding: var(--size-40);
  border-radius: var(--size-40);
}
.header__anchor-container--top {
  width: 100%;
  display: grid;
  gap: var(--size-40);
}
.header__anchor-container--title {
  position: relative;
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-96);
  text-align: center;
  color: var(--neutral-white);
}
.header__anchor-container--title:before {
  content: "";
  height: var(--size-16);
  width: 100%;
  display: block;
  position: absolute;
  bottom: 18px;
  z-index: 1;
  left: 0;
  right: 0;
  max-width: 490px;
  margin: auto;
  background: var(--primary-gradient-dark);
}
.header__anchor-container--title span {
  position: relative;
  z-index: 2;
}
.header__anchor-container--subtitle {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-64);
  color: var(--primary-light);
}
.header__anchor-container--subtitle:nth-child(odd) {
  text-align: right;
}
.header__anchor-container--quote-title {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-24);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-italic);
  text-align: center;
  color: var(--neutral-white-opacity-75);
}
.header__anchor-container--bottom {
  display: grid;
  gap: var(--size-40);
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.header__anchor-container--button-slide-bottom {
  position: absolute;
  bottom: 0;
  animation: slide-bottom var(--transition-slow) infinite alternate both;
}

/* navbar header */
.header__navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-gradient);
  padding: var(--size-24);
  box-shadow: var(--button-shadow);
}

.menu-nav {
  display: flex;
  gap: var(--size-16);
}
.link-nav {
  position: relative;
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-16);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
  padding-bottom: var(--size-2);
  color: var(--neutral-white);
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  transition: all var(--transition-fast);
  cursor: pointer;
}
.link-nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: var(--size-2);
  background: var(--neutral-white);
  transition: all var(--transition-fast);
}
.link-nav:hover:after {
  width: 100%;
  right: 0;
}
.link-nav:active {
  color: var(--neutral-dark-blue);
}
.link-nav:active:after {
  background: var(--neutral-dark-blue);
}
.link-nav__icon {
  width: var(--size-16);
}
.link-nav__txt {
  text-overflow: ellipsis;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  background-color: var(--neutral-white);
  border-radius: var(--radius-circle);
  border: 0 solid transparent;
  box-shadow: var(--button-shadow);
  transition: var(--transition-middle);
}
.header__logo:hover {
  border: 2px solid var(--primary);
}
.header__logo:active {
  box-shadow: none;
}
.header__logo-img {
  width: 90px;
}

/* layout */
html {
  font-size: 100%;
}

.body {
  position: relative;
  min-height: 100vh;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
}

.section {
  padding: var(--size-40);
}

/* footer */
.footer {
  background: var(--primary-gradient-dark-invert);
}

/* main */
.home__main .section {
  padding: var(--size-40);
}
.home__main .section__portfolio {
  background: var(--primary-gradient-dark-invert);
}
.home__main .section__alicepheide {
  background: var(--primary-gradient-dark);
}

/* buttons */
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
  font-weight: var(--font-weight-bold);
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all var(--transition-fast);
  cursor: pointer;
}
.button--primary, .button--secondary {
  color: var(--neutral-white);
  box-shadow: var(--button-shadow);
  border-radius: var(--radius-button);
  border: none;
}
.button--primary:hover, .button--secondary:hover {
  background: var(--primary-dark);
}
.button--primary:active, .button--secondary:active {
  box-shadow: none;
  background: var(--neutral-dark-blue);
}
.button--primary {
  background: var(--primary);
}
.button--m {
  font-size: var(--size-16);
  padding: var(--size-8) var(--size-16);
}
.button--m .button__icon.feather {
  width: var(--size-16);
}
.button--xl {
  font-size: var(--size-20);
  padding: var(--size-12) var(--size-24);
}
.button--xl .button__icon.feather {
  width: var(--size-24);
}
.button--circle {
  height: var(--size-40);
  width: var(--size-40);
  border-radius: var(--radius-circle);
  border: 1px solid var(--neutral-white);
  padding: 0;
}
.button--circle .feather {
  stroke: var(--neutral-white);
}
.button--circle:hover {
  background: var(--primary);
}
.button--circle:active {
  box-shadow: none;
  background: var(--primary-dark);
}
.button--circle .button__icon.feather {
  width: var(--size-40);
}
.button--circle img.button__icon {
  width: var(--size-20);
}
.button--link {
  text-decoration: none;
}

/* link */
.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-8);
  padding-bottom: var(--size-2);
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  transition: all var(--transition-fast);
  cursor: pointer;
}
.link:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
}
.link:active {
  color: var(--neutral-dark-blue);
  border-color: var(--neutral-dark-blue);
}

/* Homepage */
.home-portfolio {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  background: var(--primary-gradient-dark-invert);
}
.home-portfolio__title {
  position: relative;
  display: inline-block;
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-64);
  color: var(--neutral-white);
}
.home-portfolio__title:after {
  content: "";
  height: var(--size-16);
  width: 100%;
  display: block;
  background: var(--primary-gradient-dark);
}
.home-portfolio__title-img {
  height: 80px;
}
.home-portfolio__text {
  color: var(--neutral-white);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-16);
  max-width: 50%;
  margin: auto;
}
.home-artist {
  display: flex;
  flex-direction: column;
  gap: var(--size-40);
  background: var(--primary-gradient-dark);
}
.home-artist__title {
  position: relative;
  display: inline-block;
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-64);
  color: var(--neutral-white);
}
.home-artist__title:after {
  content: "";
  height: var(--size-16);
  width: 100%;
  display: block;
  background: var(--primary-gradient-dark-invert);
}
.home-artist__title-img, .home-artist__text-img {
  height: 80px;
}
.home-artist__text {
  color: var(--neutral-white);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-16);
}
.home-artist__container {
  display: grid;
  grid-template-columns: 210px 1fr;
  gap: var(--size-24);
}
.home-artist__container--right {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}
.home-artist__portrait-img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: var(--button-shadow);
}
.home-artist__bloc-buttons {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
}
.home__label {
  background: var(--neutral-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__label__title {
  color: var(--neutral-white);
}

.building {
  width: 100%;
  background-image: url(img/nuage-écureuil.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1024px) {
  .building {
    display: grid;
    grid-template-columns: 30% 70%;
    background: var(--neutral-white);
  }
}
@media screen and (min-width: 1024px) {
  .building__container--left-column {
    padding: var(--size-40);
  }
}
.building__container--right-column {
  display: none;
}
@media screen and (min-width: 1024px) {
  .building__container--right-column {
    display: block;
    position: relative;
    background: var(--primary-gradient);
  }
  .building__container--right-column:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/nuage-écureuil.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    animation: fadeIn;
    animation-duration: 3s;
  }
}
.building__logo {
  display: block;
  max-width: 254px;
  margin: auto;
  padding: var(--size-16);
}
@media screen and (min-width: 1024px) {
  .building__logo--mobile {
    display: none;
  }
}
.building__logo--desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .building__logo--desktop {
    display: block;
  }
}
.building__title--mobile {
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
  text-align: center;
  color: var(--primary-dark);
  background: var(--neutral-white-opacity-75);
  padding: var(--size-16);
}
@media screen and (min-width: 1024px) {
  .building__title--mobile {
    display: none;
  }
}
.building__title--desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .building__title--desktop {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "top" "bottom";
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    padding: var(--size-40) 0;
    font-weight: var(--font-weight-regular);
    font-style: var(--font-style-normal);
    font-size: var(--size-40);
  }
}
.building__title--first-bloc, .building__title--second-bloc {
  background: var(--neutral-white-opacity-75);
  padding: var(--size-40);
  border-left-width: 8px;
  border-bottom-width: 8px;
  border-style: solid;
}
.building__title--first-bloc {
  color: var(--primary);
  border-color: var(--primary);
  display: grid;
  justify-self: start;
  align-self: start;
}
.building__title--second-bloc {
  color: var(--secondary);
  border-color: var(--secondary);
  display: grid;
  justify-self: end;
  align-self: end;
}
.building__title--strong {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-32);
  overflow-wrap: break-word;
}
@media screen and (min-width: 1024px) {
  .building__title--strong {
    font-weight: var(--font-weight-bold);
    font-style: var(--font-style-normal);
    font-size: var(--size-40);
  }
}
.building__bottom {
  display: grid;
  justify-items: center;
  max-width: 500px;
  gap: var(--size-16);
  margin: auto;
  padding: var(--size-16);
}
@media screen and (min-width: 1024px) {
  .building__bottom {
    max-width: 100%;
    padding: 0;
  }
}
.building__card {
  width: 100%;
  background: var(--neutral-white-opacity-75);
  border-radius: var(--radius-m);
}
@media screen and (min-width: 1024px) {
  .building__card {
    background: inherit;
  }
}
.building__card--shop {
  padding: var(--size-24);
}
@media screen and (min-width: 1024px) {
  .building__card--shop {
    background: var(--neutral-grey-light);
  }
}
.building__card--social-networks {
  padding: var(--size-8);
}
@media screen and (min-width: 1024px) {
  .building__card--social-networks {
    padding: 0;
  }
}
.building__card-title {
  font-weight: var(--font-weight-bold);
  font-style: var(--font-style-normal);
  font-size: var(--size-24);
  text-align: center;
  color: var(--neutral-dark-blue);
  margin-bottom: var(--size-24);
}
.building__card-content--shop {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  gap: var(--size-24);
  margin: auto;
}
.building__card-content--social-networks {
  display: flex;
  justify-content: center;
  gap: var(--size-16);
}
.building__paragraphe {
  text-align: center;
  color: var(--neutral-white);
}
@media screen and (min-width: 1024px) {
  .building__paragraphe {
    text-align: left;
    color: var(--neutral-dark-blue);
  }
}
.building__link--mobile {
  background: var(--neutral-white);
}
@media screen and (min-width: 1024px) {
  .building__link--mobile {
    background: none;
  }
}

/* import stylesheets */
/* import reset */
/* import variables, utilities, mixins */
/* import components */
/* import pages */